:root {
  --depth: 500px;
  --turnLeft: 0.06turn;
  --turnRight: -0.06turn;
  --turn: var(--turnRight);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background: hsl(0 0% 10%);
  perspective: 1000px;
  perspective-origin: 50% 35%;
}

.building {
  transform-style: preserve-3d;
}

.room {
  position: relative;
  border: 4vmax solid hsl(0 0% 10%);
  height: 80vh;
  width: 100vw;
  scroll-snap-align: center;
  transform-style: preserve-3d;
}

.room + .room {
  border-top: 0;
}

.room::before,
.room::after {
  content: '';
  position: absolute;
  height: var(--depth);
  width: 100%;
  backface-visibility: hidden;
}

.room::before {
  background: radial-gradient(hsl(0 0% 100% / 10%), hsl(0 0% 0% / 10%)),
    lightgray;
  transform: rotatex(-90deg) scale(1.001);
  transform-origin: center top;
}

.room::after {
  bottom: 0;
  background: radial-gradient(hsl(0 0% 100% / 10%), hsl(0 0% 0% / 10%)),
    url(https://images.unsplash.com/photo-1567621301854-85b95d32bbf3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z3Jhc3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60)
      center / cover,
    sandybrown;
  transform: rotatex(90deg);
  transform-origin: center bottom;
}

.room-walls {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, hsl(0 0% 90%) 2.5vh, transparent 0),
    radial-gradient(hsl(0 0% 0% / 30%), hsl(0 0% 0% / 50%)),
    url(https://images.unsplash.com/photo-1596237563267-84ffd99c80e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJhbWJvbyUyMGZvcmVzdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60)
      center / cover,
    darkgray;
  transform: translatez(calc(var(--depth) * -1));
  transform-style: preserve-3d;
}

.room-walls::before,
.room-walls::after {
  content: '';
  position: absolute;
  height: 100%;
  width: var(--depth);
}

.room-walls::before {
  right: 100%;
  background: linear-gradient(to top, hsl(0 0% 75%) 2.5vh, transparent 0),
    radial-gradient(hsl(0 0% 100% / 10%), hsl(0 0% 0% / 10%)),
    url(https://www.area83.in/ElementImages/03533104-9117-471f-b19b-4f143aa7be2b_big.jpg)
      center / cover,
    gray;
  transform: rotatey(90deg);
  transform-origin: right center;
}

.room-walls::after {
  left: 100%;
  background: linear-gradient(to top, hsl(0 0% 75%) 2.5vh, transparent 0),
    radial-gradient(hsl(0 0% 100% / 10%), hsl(0 0% 0% / 10%)),
    url(https://www.area83.in/ElementImages/d7c6b088-48a4-4c34-af17-183808a3939a_big.jpg)
      center / cover,
    gray;
  transform: rotatey(-90deg);
  transform-origin: left center;
}

.room-content {
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: clamp(1em, 20vmin, 8em);
  font-weight: 200;
  text-align: center;
  text-shadow: 0 5px 10px hsl(0 0% 0% / 20%);
  transform: translatez(calc(var(--depth) / -2)) rotatey(var(--turn));
}

.room:nth-child(odd) > .room-content {
  --turn: var(--turnLeft);
}
